<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
<header>
    <ul>        
        <li> <a draggable="false" [ngClass]="{'buttonNav-dark': darkMode, 'buttonNav-light': !darkMode}" routerLink="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">home</a>
        </li>
        <li><a draggable="false" [ngClass]="{'buttonNav-dark': darkMode, 'buttonNav-light': !darkMode}" routerLink="login" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">login</a>
        </li>
        <li><a draggable="false" [ngClass]="{'buttonNav-dark': darkMode, 'buttonNav-light': !darkMode}" routerLink="register" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">cadastro</a>
        </li>
        <li>
          <app-dark-button (dadosEnviados)="receberDados($event)"></app-dark-button>
        </li>
    </ul>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</header>
</html>