.checkbox {
	opacity: 0;
	position: absolute;
  }
  
  .label-light {
	background-color: #000000;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	justify-content: flex-start ;
	align-items: center;
	margin-left: 10px;
	padding: 5px;
	position: relative;
	height: 10px;
	width: 34px;
	transform: scale(1.5);
	gap: 5px;
  
  
  }
  .label-dark {
	background-color:gray;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 10px;
	padding: 5px;
	position: relative;
	height: 10px;
	width: 34px;
	transform: scale(1.5);
  
  }
  
  .label-dark .ball {
	background-color: #000;
	border-radius: 50%;
	position: absolute;
	height: 12px;
	width: 12px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
	align-items: flex-start;
  }
  .label-light .ball {
	background-color: gray;
	border-radius: 50%;
	position: absolute;
	height: 12px;
	width: 12px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
	align-items: flex-start;
  }
  
  .checkbox:checked + .label-dark .ball {
	transform: translateX(24px);
  }
  .label-dark .fa-moon {
	color: #f1c40f;
	align-items: flex-start;
  }
  
.label-light .fa-sun {
	color: #f39c12;
  }
.label-dark .fa-sun {
	color: transparent
  }