/* You can add global styles to this file, and also import other style files */
/* Estilos para o modo claro */
body {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Estilos para o modo escuro */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
  }